<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body style="background-color:orange;">

    <header>
        <div class="heading">
                <h1 style="text-align:center">Banaao - A Makers'​ Playground</h1>
                <h2 style="text-align:center">Music Generation</h2>
            </div>
        <p style="font-size:160%;">The song "Viboger" was created by training on 3 songs, mentioned below, having epoch 1.The time
        was taken randomly, and noted and chords, were predicted on the time,using neural networks.
            Listen to the song, and have fun!</p>

        <h4>Song 1 [Album Espana 2]</h4>
        <audio src="song1.mp3" controls>
                Error: your web browser does not support this audio player.
        </audio>
        <h4>Song 2 [Album Espana 3]</h4>
        <audio src="song2.mp3" controls>
                Error: your web browser does not support this audio player.
        </audio>
        <h4>Song 3 [Für Elise - Beethoven]</h4>
        <audio src="song3.mp3" controls>
                Error: your web browser does not support this audio player.
        </audio>
        <h4>Created Song [Viboger]</h4>
        <audio src="Viboger.mp3" controls>
                Error: your web browser does not support this audio player.
        </audio>

    </header>

</body>
</html>